/*COLOR SCHEME
SAGE: c9cba3
PEACH: FFE1A8
TERRACOTA: E26D5C
CATWABA: 723D46
BURGANDY: 472D30 */

.header {
    padding: 30px;
    text-align: center;
    background: #c9cba3;
    color: white;
    font-size: 30px;
  }

.hr { 
    display: block; 
    color: #c9cba3;
    margin-top: 0.5em; 
    margin-bottom: 0.5em; 
    margin-right: auto; 
    margin-left: auto; 
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .introduction {
      padding: 15px;
      text-align: center;
      color: black;
      font-size: 15px;
  }